name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
    - name: Install dependencies
      env: 
        ACCEPT_EULA: Y
      run:  |
            rustup override set nightly && \
            wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add - && \
            sudo sh -c 'echo "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-12 main" >> /etc/apt/sources.list' && \
            sudo sh -c 'echo "deb-src http://apt.llvm.org/focal/ llvm-toolchain-focal-12 main" >> /etc/apt/sources.list' && \
            sudo -E apt-get update && \
            # sudo -E dpkg --configure -a && \
            # sudo -E dpkg --remove containers-common && \
            # sudo -E apt-get upgrade -y && \
            sudo -E apt-get install -y zlib1g-dev apt-utils && \
            sudo -E apt-get install -y opt libedit-dev build-essential make && \
            sudo -E apt-get install -y cmake llvm-10 pkg-config jq && \
            sudo -E apt-get install -y libcurl4-openssl-dev libelf-dev libdw-dev binutils-dev libiberty-dev llvm-12 && \
            # cd vicis_core && \
            cargo install cargo-kcov && \
            cargo kcov --print-install-kcov-sh | sh
    - name: Test
      run: cargo test && cargo clean; cargo test --release
    # with kcov, we can't run multi-threaded code? it affects 'insta' crate.
    # - name: Run kcov
    #   working-directory: ./vicis_core
    #   run: |
    #         cargo clean && cargo test; \
    #         REPORT=$(find ../target/debug -maxdepth 2 -regex '.+/deps/.*' -a ! -regex '.+\.\(d\|rlib\|rmeta\|so\)'); \
    #         for file in $REPORT; do \
    #           echo $file; \
    #           kcov --include-pattern=vicis_core/src --exclude-pattern=/.cargo ../target/cov "$file"; \
    #           bash <(curl -s https://codecov.io/bash) -s ../target/cov; \
    #         done
    # - name: Run kcov vicis_codegen
    #   working-directory: ./vicis_codegen
    #   run: |
    #         cargo clean && cargo test; \
    #         REPORT=$(find ../target/debug -maxdepth 2 -regex '.+/deps/.*' -a ! -regex '.+\.\(d\|rlib\|rmeta\|so\)'); \
    #         for file in $REPORT; do \
    #           echo $file; \
    #           kcov --include-pattern=vicis_codegen/src --exclude-pattern=/.cargo ../target/cov "$file"; \
    #           bash <(curl -s https://codecov.io/bash) -s ../target/cov; \
    #         done
    # - name: Run kcov vicis_codegen_cranelift
    #   working-directory: ./vicis_codegen_cranelift
    #   run: |
    #         cargo clean && cargo test; \
    #         REPORT=$(find ../target/debug -maxdepth 2 -regex '.+/deps/.*' -a ! -regex '.+\.\(d\|rlib\|rmeta\|so\)'); \
    #         for file in $REPORT; do \
    #           echo $file; \
    #           kcov --include-pattern=vicis_codegen_cranelift/src --exclude-pattern=/.cargo ../target/cov "$file"; \
    #           bash <(curl -s https://codecov.io/bash) -s ../target/cov; \
    #         done
    # - name: Run kcov vicis_interpreter
    #   working-directory: ./vicis_interpreter
    #   run: |
    #         cargo clean && cargo test; \
    #         REPORT=$(find ../target/debug -maxdepth 2 -regex '.+/deps/.*' -a ! -regex '.+\.\(d\|rlib\|rmeta\|so\)'); \
    #         for file in $REPORT; do \
    #           echo $file; \
    #           kcov --include-pattern=vicis_interpreter/src --exclude-pattern=/.cargo ../target/cov "$file"; \
    #           bash <(curl -s https://codecov.io/bash) -s ../target/cov; \
    #         done
